<h2><%= link_to( @link.title, link_path(@link))%>
  <br>
  <small class="author"> Submitted <%= time_ago_in_words(@link.updated_at) %> by <%= @link.user.email %></small>
</h2>
<hr>
<%= link_to("Visit URL", @link.url, class: 'btn btn-xs btn-primary' ) %>

<% if current_user == @link.user %>
<div class="btn-group">
  <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-xs btn-default' %>
  <%= link_to 'Delete', @link, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?' } %>
</div>
<% end %>

<div class="btn-group pull-right">
  <%= link_to(upvote_link_path(@link), class:'btn btn-xs btn-default') do %>
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
     Upvote
    <span><%= @link.get_likes.size %></span>
  <% end %>
  <%= link_to(downvote_link_path(@link), class:'btn btn-xs btn-default') do %>
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
     Downvote
    <span><%= @link.get_dislikes.size %></span>
  <% end %>
</div>


<div class="panel">
<h3><%= @link.comments.count %> Comments</h3>

<ul class="media-list">
<% @link.comments.each do |comment| %>
  <li class="media">
    <div class="media-left">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= comment.user.email %><small class="author"> <%= time_ago_in_words(comment.updated_at) %></small></h4>
      <%= comment.body %>
    </div>

    <% if current_user==comment.user %>
    <div class="media-right">
      <%= link_to(comment_path(comment), method: :delete, class: 'btn btn-xs btn-default', data: { confirm: "Are you sure?" } ) do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
      <% end %>
    </div>
    <% end %>
  </li>
  <hr>
<% end %>
</ul>

<%= simple_form_for([@link, Comment.new]) do |f| %>
  <%= f.input :body, label: 'Comment:' %>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "submiting..." } %>
<% end %>


</div>
